DATABASE_URL=postgresql://postgres.qskqppddmqudtauzckdn:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://postgres.qskqppddmqudtauzckdn:[YOUR-PASSWORD]@aws-1-ap-northeast-1.supabase.com:5432/postgres?sslmode=require

NEXTAUTH_SECRET=
NEXTAUTH_URL=

STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_KEY=
STRIPE_WEBHOOK_SECRET=

EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=OuttaCouch <youremail@gmail.com>

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
DEFAULT_PHONE_COUNTRY_CODE=91

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
