DATABASE_URL=postgresql://user:password@localhost:5432/outtacouch
NEXTAUTH_SECRET=
STRIPE_SECRET_KEY=
NEXT_PUBLIC_STRIPE_KEY=
STRIPE_WEBHOOK_SECRET=
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=OuttaCouch <youremail@gmail.com>
CLOUDINARY_URL=
NEXT_PUBLIC_MAPBOX_TOKEN=
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
